.container {
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  max-width: 300px;
}

.text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}
